
#header{
    background-color: #6495ED;
}
#navleft{
    height:300px;
    width:100px;
    float:left;
    padding:15px;
}
#section{
    height: 400px;
    width: 1oopx;
}
#footer{
    text-align: center;
    background-color: green;
}
